@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

$mainPink: rgb(239, 121, 152);
$mainYellow: rgb(249, 228, 148);
$mainWhite: #fff;
$mainBlack: #000;
$yellowTrans: rgba(249, 228, 148, 0.5);
$pinkTrans: rgb(239, 121, 152, 0.5);
$mainGrey: rgb(238, 238, 238);

body {
  font-family: 'Kaushan Script', cursive;
  background: $mainWhite;
  color: $mainBlack;
}

#header {
  // nav links
  .navbar-toggler {
    outline: none !important;
  }

  .toggler-icon {
    font-size: 2.5rem;
    color: $mainPink;
  }

  .nav-link {
    color: $mainPink;
    transition: all 0.5s ease-out;
    font-size: 1.5rem;

    &:hover {
      color: $mainBlack;
    }
  }

  .cart-info {
    border: 0.1rem solid $mainBlack;
    color: $mainBlack;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &__icon {
      color: $mainBlack;
      cursor: pointer;
    }

    &:hover {
      background: $mainPink;
      border-color: $mainPink;
      color: $mainWhite;

      .fa-shopping-cart {
        color: $mainWhite;
      }
    }
  }
}

#banner {
  .max-height {
    min-height: calc(100vh - 76px);
    background: linear-gradient($pinkTrans, $yellowTrans),
      url('../img/headerBcg.jpeg') center/cover no-repeat fixed;
    position: relative;
    // background-position: center;
    // background-size: cover;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
  }

  .banner {
    color: $mainWhite;
    margin-top: -4rem;

    &-title {
      color: $mainPink;
      font-size: 4rem;
    }

    &-link {
      font-size: 1.5rem;
      color: $mainBlack;
      border: 0.2rem solid $mainBlack;

      &:hover {
        background: $mainBlack;
        color: $mainPink;
      }
    }
  }
}
