@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$mainBlue: #40acf1;
$transparentBlue: rgba(64, 172, 241, 0.7);
$mainWhite: #ffffff;
$mainBlack: #292f36;
$mainGrey: rgb(216, 214, 214);
$mainYellow: #e3b505;

body {
  font-family: 'Roboto', sans-serif;
  color: $mainBlack;
  background: $mainWhite;
  overflow-x: hidden;
}

// section title
.section-title--special {
  background: $transparentBlue;
  color: $mainWhite;
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

//  preloader
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $mainWhite;
  z-index: 999;
}

.hidePreloader {
  display: none !important;
}

.navbar {
  background: $mainWhite;

  &-icon {
    font-size: 2rem;
    color: $mainBlue;
  }

  &-toggler {
    outline-color: $mainBlue !important;
  }

  .nav-link {
    color: $mainBlack;
    text-transform: capitalize;

    &:hover {
      color: $mainBlue;
    }
  }

  .nav-icon {
    font-size: 2rem;
    color: $mainBlue;
    text-decoration: none;
    transition: all 0.5s linear;
    // transition-property: color;
    // transition-duration: 0.5s;
    // transition-timing-function: linear;

    &:hover {
      color: $mainBlack;
    }
  }
}

.header {
  color: $mainWhite;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  overflow: hidden;

  .height-max {
    background: url('../img/headerBcg.jpeg') center/cover no-repeat fixed;
    min-height: calc(100vh - 76px);
    animation: zoom 20s 5s infinite;
    // animation-name: zoom;
    // animation-duration: 20s;
    // animation-delay: 5s;
    // animation-iteration-count: infinite;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .title-heading {
    background: rgba(0, 0, 0, 0.4);
    border-left: 0.3rem solid $mainBlue;
  }

  .title {
    font-weight: 700;
    font-size: 1.9rem;
  }

  .title-icon {
    color: $mainBlue;
    text-decoration: none !important;

    &:hover {
      color: $mainBlue;
      opacity: 0.8;
    }
  }
}

.skills {
  &-icon {
    font-size: 3rem;
    color: $mainYellow;
    background: $mainGrey;

    &:hover {
      color: $mainYellow;
    }
  }

  &-underline {
    width: 4rem;
    height: 0.3rem;
    background: $mainBlue;
    margin: 1rem auto;
  }
}

// inventory
.inventory {
  background: $mainGrey;
  .car-card {
    border-radius: 0 !important;
  }

  .car-img {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .car-value {
    background: $mainBlue;
    color: $mainWhite;
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    transition: all 0.5s linear;
    cursor: pointer;

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

@import 'media-min768';
