@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  font-family: "Roboto", sans-serif;
  color: #292f36;
  background: #ffffff;
  overflow-x: hidden;
}

.section-title--special {
  background: rgba(64, 172, 241, 0.7);
  color: #ffffff;
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 999;
}

.hidePreloader {
  display: none !important;
}

.navbar {
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-icon {
  font-size: 2rem;
  color: #40acf1;
}
.navbar-toggler {
  outline-color: #40acf1 !important;
}
.navbar .nav-link {
  color: #292f36;
  text-transform: capitalize;
}
.navbar .nav-link:hover {
  color: #40acf1;
}
.navbar .nav-icon {
  font-size: 2rem;
  color: #40acf1;
  text-decoration: none;
  transition: all 0.5s linear;
}
.navbar .nav-icon:hover {
  color: #292f36;
}
.navbar.navbar-active {
  background: #e3b505;
  color: #ffffff;
  padding: 0rem 2rem;
}
.navbar.navbar-active .navbar-icon {
  color: #292f36;
}
.navbar.navbar-active .navbar-toggler {
  outline-color: #e3b505 !important;
}

.header {
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  overflow: hidden;
}
.header .height-max {
  background: url("../img/headerBcg.jpeg") center/cover no-repeat fixed;
  min-height: calc(100vh - 76px);
  animation: zoom 20s 5s infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.header .title-heading {
  background: rgba(0, 0, 0, 0.4);
  border-left: 0.3rem solid #40acf1;
}
.header .title {
  font-weight: 700;
  font-size: 1.9rem;
}
.header .title-icon {
  color: #40acf1;
  text-decoration: none !important;
}
.header .title-icon:hover {
  color: #40acf1;
  opacity: 0.8;
}

.skills-icon {
  font-size: 3rem;
  color: #e3b505;
  background: #d8d6d6;
}
.skills-icon:hover {
  color: #e3b505;
}
.skills-underline {
  width: 4rem;
  height: 0.3rem;
  background: #40acf1;
  margin: 1rem auto;
}

.inventory {
  background: #d8d6d6;
}
.inventory .car-card {
  border-radius: 0 !important;
}
.inventory .car-img {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.inventory .car-value {
  background: #40acf1;
  color: #ffffff;
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transition: all 0.5s linear;
  cursor: pointer;
}
.inventory .car-value:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.question {
  background: url("../img/questionBcg.jpeg") center/cover no-repeat fixed;
}
.question-grey {
  background: rgba(79, 109, 122, 0.75);
}
.question-yellow {
  background: rgba(255, 181, 5, 0.75);
}
.question-icon {
  font-size: 4rem;
  color: #40acf1;
  transition: all 0.5s ease-in-out;
}
.question-icon:hover {
  transform: translateY(-10%);
  color: #40acf1;
}
.question-info {
  color: #ffffff;
}

.featured {
  background: #d8d6d6;
}
.featured-item {
  background: #ffffff;
  border-radius: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.featured-item:hover {
  opacity: 1;
  transform: scale(1.05);
}
.featured-icon {
  font-size: 1.5rem;
  color: #e3b505;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.featured-icon:hover {
  color: #40acf1;
}
.featured .img-container {
  background: #40acf1;
  position: relative;
  overflow: hidden;
}
.featured .img-container:hover .featured-photo {
  transform: scale(1.3);
  opacity: 0.5;
}
.featured .img-container:hover .featured-link {
  opacity: 1;
}
.featured-photo {
  transition: all 1s ease-in-out;
}
.featured-link {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #292f36;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.featured-link:hover {
  color: #ffffff;
}

.gallery-item {
  background: #e3b505;
  position: relative;
  cursor: pointer;
}
.gallery-item:hover .gallery-img {
  opacity: 0.5;
}
.gallery-item:hover::after {
  transform: scale(1);
}
.gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid #ffffff;
  outline-offset: -1rem;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
}
.gallery-img {
  transition: all 0.5s ease-in-out;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/headerBcg.jpeg") center/cover no-repeat fixed;
}
.contact-input {
  font-size: 1.5rem;
  text-transform: capitalize;
  background: transparent;
  border-color: #e3b505;
  color: #e3b505 !important;
}
.contact-input::placeholder {
  color: #e3b505;
}
.contact-input::focus {
  background: transparent;
  border-color: #e3b505;
}
.contact-btn {
  text-transform: uppercase;
  color: #e3b505;
  border-color: #e3b505;
}
.contact-btn:hover {
  background: #e3b505;
  color: #292f36;
}

.services {
  position: relative;
  min-height: 85vh;
  max-width: 95vw;
  margin: 0 auto;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
.services .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.services .video-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 172, 241, 0.7);
  z-index: 0;
}
.services .service {
  background: #292f36;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.services .service:hover {
  background: #ffffff;
  color: #292f36;
  padding-left: 2.2rem !important;
}
.services .service-icon {
  font-size: 4rem;
  color: #e3b505;
}

.quotes .customer-card-body {
  margin-top: -4rem !important;
  color: #d8d6d6;
}
.quotes .customer-img {
  border: 0.4rem solid #ffffff;
}
.quotes .customer-name {
  color: #40acf1;
  margin: 0.5rem;
}
.quotes .customer-icon {
  font-size: 2rem;
  color: #d8d6d6;
}
.quotes .customer-quote {
  max-width: 90%;
}

.footer {
  background: #292f36;
}
.footer-icon {
  font-size: 1.5rem;
  text-decoration: none;
  color: #e3b505;
  transition: all 0.5s ease-in-out;
}
.footer-icon:hover {
  color: #40acf1;
}

@media (min-width: 768px) {
  .header .title {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=main.css.map */
